// Import Google Fonts
@use 'fonts.scss';

// Variables
$main-bg-color: #252f39;
$main-text-color: white;
$main-border-color: black;

// Typography
h1.site-title {
    font-family: 'Black Ops One', sans-serif;
    font-size: 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

// Layout
.main-content {
    background-color: $main-bg-color;
    border-color: $main-border-color;
}

.breadcrumb-item,
.navbar-brand,
.nav-link {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

.pointer {
    cursor: pointer;
}

// Form Controls
.form-control,
.form-select,
.form-check-input,
.form-control:focus,
.form-select:focus {
    background-color: #3a4753;
    color: #ffffff;
    border-color: #5a6b7c;
}

.form-control::placeholder {
    color: #cbd3db;
}

.form-check-label {
    color: #ffffff;
}

.form-control:focus,
.form-select:focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 71, 83, 0.5);
}

.form-control:disabled,
.form-select:disabled {
    background-color: gray;
    color: #000;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

// Dashboard Cards
.dashboard-cards {
    .card {
        transition: all 0.2s ease;
        cursor: pointer;

        &:hover {
            box-shadow: 4px 4px 4px 4px #1a1b1b;
            transform: scale(1.05);
        }

        .card-header {
            font-weight: bold;
        }
    }
}

// Twitter Typeahead
.twitter-typeahead {
    display: block !important;
    width: 100% !important;

    .tt-input {
        width: 100% !important;
    }

    .tt-menu {
        width: 100% !important;
    }
}

.tt-menu {
    background-color: #000;
    border: 1px solid #444;
    border-radius: 0.375rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100% !important;
    padding: 0.25rem 0;

    .tt-suggestion {
        &.tt-selectable {

            &:hover,
            &:focus {
                background-color: $main-bg-color;
            }
        }
    }
}

a {
    text-decoration: none;
}