@use 'theme.scss';

@import "flatpickr/dist/flatpickr.min.css";
@import "easymde/dist/easymde.min.css";

// Static Styles
.pointer {
    cursor: pointer;
}

a,
a:hover {
    text-decoration: none;
}

.trooper-status-cancelled {
    opacity: 0.6;
    background-color: #333;
    filter: brightness(1.5);

    & .cancelled-icon {
        display: inline !important;
    }
}

.event-image-share-wrapper {
    position: relative;
}

.event-image-share-buttons {
    position: absolute;
    top: 8px;
    right: 8px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.event-image-share-wrapper:hover .event-image-share-buttons {
    opacity: 1;
}

.event-image-share-buttons .btn-group {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 6px;
}

.event-calendar {
    table-layout: fixed;
    width: 100%;

    tbody tr {
        td {
            vertical-align: top;
            font-family: 'Montserrat', sans-serif;

            &:nth-child(odd) {
                background-color: rgba(0, 0, 0, 0.15);
            }

            div.calendar-content {
                min-height: 125px;
            }
        }
    }
}

// for google maps
.gm-style-iw-chr button {
    background-color: rgba(0, 0, 0, 0.6) !important;
    border-radius: 25% !important;
}

.gm-style-iw-chr button span {
    background-color: white !important;
}

[data-bs-toggle="tooltip"] {
    text-decoration: underline dotted;
    cursor: help;
}