@use 'theme.scss';

@import "flatpickr/dist/flatpickr.min.css";
@import "easymde/dist/easymde.min.css";

// Static Styles
.pointer {
    cursor: pointer;
}

.btn.htmx-disable.htmx-request {
    /* Prevents double-clicks */
    pointer-events: none;
    /* Visual feedback */
    opacity: 0.6;
    cursor: not-allowed;
}

a,
a:hover {
    text-decoration: none;
}

.guest-status-cancelled,
.trooper-status-cancelled {
    opacity: 0.6;
    background-color: #333;
    filter: brightness(1.5);

    & .cancelled-icon {
        display: inline !important;
    }
}

.trooper-status-cancelled a {
    text-decoration: line-through;
}

.guest-status-cancelled>div:first-child {
    text-decoration: line-through;

    .text-muted {
        text-decoration: none;
    }
}

.event-image-share-wrapper {
    position: relative;
}

.event-image-share-buttons {
    position: absolute;
    top: 8px;
    right: 8px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.event-image-share-wrapper:hover .event-image-share-buttons {
    opacity: 1;
}

.event-image-share-buttons .btn-group {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 6px;
}

.event-calendar {
    table-layout: fixed;
    width: 100%;

    tbody tr {
        td {
            vertical-align: top;
            font-family: 'Montserrat', sans-serif;

            &:nth-child(odd) {
                background-color: rgba(0, 0, 0, 0.15);
            }

            div.calendar-content {
                min-height: 125px;
            }
        }
    }
}

// for google maps
.gm-style-iw-chr button {
    background-color: rgba(0, 0, 0, 0.6) !important;
    border-radius: 25% !important;
}

.gm-style-iw-chr button span {
    background-color: white !important;
}

[data-bs-toggle="tooltip"] {
    text-decoration: underline dotted;
    cursor: help;
}

// Dashboard Cards
.dashboard-cards,
.event-cards {
    .card {
        background-color: var(--bs-card-bg);
        transition: all 0.2s ease;
        cursor: pointer;

        &:hover {
            box-shadow: 2px 2px 2px 2px var(--bs-card-border-color);
            transform: scale(1.05);
        }

        .card-header {
            font-weight: bold;
        }
    }
}


// Twitter Typeahead
.tt-menu {
    background-color: var(--bs-input-bg);
    border: 1px solid var(--bs-input-border-color);
    border-radius: 0.375rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100% !important;
    padding: 0.25rem 0;

    .tt-suggestion {
        &.tt-selectable {

            &:hover,
            &:focus {
                background-color: var(--bs-body-bg);
            }
        }
    }
}