includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6

    paths:
        - app/helpers.php
        - app/Bus
        - app/Jobs
        - app/Mail
        - app/Policies
        - app/Rules

    checkUninitializedProperties: true
    checkImplicitMixed: true

    # Optional but recommended
    treatPhpDocTypesAsCertain: false
    
    ignoreErrors:
        - '#is used zero times and is not analysed#'


